.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
assets/student_photo/A1.png
assets/student_photo/A14296.jpg
assets/student_photo/A2324001.jpg
assets/student_photo/A2324001.png
db/rcsetup154.exe
db/recoverit_setup_full4174.exe
db/repairit_setup_full5913.exe